:host {
  // display: block;
  // --calc-component-width: 100%;
  --calc-component-gap-column: 16px;
  --calc-component-gap-grid: 8px;

  box-sizing: border-box;
}

:host .calc-component__container {
  --calc-container-max-width: 318px;
}

:host .calc-component__column {
  display: flex;
  flex-direction: column;
  gap: var(--calc-component-gap-column);
}

:host .calc-component__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--calc-component-gap-grid);
}

:host .calc-component__button-big {
  --calc-button-width: 100%;
}

// button position
:host calc-button[button-type='clear'],
:host calc-button[button-type='backspace'] {
  grid-column: span 2;
}
