:host {
  // display: block;
  // --calc-component-width: 100%;
  --calc-component-gap-column: 16px;
  --calc-component-gap-grid: 8px;

  box-sizing: border-box;
}

:host(.calc-component) {
  // width: var(--calc-component-width);
}

:host .calc-component__column {
  display: flex;
  flex-direction: column;
  gap: var(--calc-component-gap-column);
}

:host .calc-component__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--calc-component-gap-grid);
}

// button position
:host calc-button[button-type='number-9'] {
  grid-column: 1;
}

:host calc-button[button-type='number-0'] {
  grid-row: 5;
  grid-column: 2;
}

:host calc-button[button-type='divide'] {
  grid-row: 1;
  grid-column: 4;
}

:host calc-button[button-type='multiply'] {
  grid-row: 2;
  grid-column: 4;
}

:host calc-button[button-type='subtract'] {
  grid-row: 3;
  grid-column: 4;
}

:host calc-button[button-type='add'] {
  grid-row: 4;
  grid-column: 4;
}

:host calc-button[button-type='equal'] {
  grid-row: 5;
  grid-column: 4;
}
