:host {
  --calc-display-display: flex;
  --calc-display-flex-direction: column;
  --calc-display-align-items: flex-end;
  --calc-display-justify-content: center;
  --calc-display-gap: 10px;
  --calc-display-background: var(--color-light-1);
  --calc-display-width: 100%;
  --calc-display-padding: 16px;
  --calc-display-border: 1px solid var(--color-dark-1);
  --calc-display-border-radius: 8px;
  --calc-display-font-family: sans-serif;
  --calc-display-text-margin: 0;
  --calc-display-data-font-weight: 400;
  --calc-display-data-font-size: 16px;
  --calc-display-data-color: var(--color-dark-1);
  --calc-display-input-font-weight: 600;
  --calc-display-input-font-size: 32px;
  --calc-display-input-color: var(--color-dark-2);

  box-sizing: border-box;
}

:host(.calc-display) {
  display: var(--calc-display-display);
  flex-direction: var(--calc-display-flex-direction);
  align-items: var(--calc-display-align-items);
  justify-content: var(--calc-display-justify-content);
  gap: var(--calc-display-gap);
  background-color: var(--calc-display-background);
  width: var(--calc-display-width);
  padding: var(--calc-display-padding);
  border: var(--calc-display-border);
  border-radius: var(--calc-display-border-radius);
}

:host .calc-display__data {
  color: var(--calc-display-data-color);
  font-family: var(--calc-display-font-family);
  font-size: var(--calc-display-data-font-size);
  font-weight: var(--calc-display-data-font-weight);
  margin: var(--calc-display-text-margin);
}

:host .calc-display__input {
  color: var(--calc-display-input-color);
  font-family: var(--calc-display-font-family);
  font-size: var(--calc-display-input-font-size);
  font-weight: var(--calc-display-input-font-weight);
  margin: var(--calc-display-text-margin);
}
