:host {
  --calc-button-cursor: pointer;
  --calc-button-display: flex;
  --calc-button-align-items: center;
  --calc-button-justify-content: center;
  --calc-button-background: var(--color-light-1);
  --calc-button-background-hover: var(--color-light-2);
  --color: var(--color-dark-1);
  --calc-button-height: 40px;
  --calc-button-width: 60px;
  --calc-button-padding: 0;
  --calc-button-border: 1px solid var(--color-dark-1);
  --calc-button-border-radius: 4px;
  --calc-button-font-family: sans-serif;
  --calc-button-font-weight: 400;
  --calc-button-font-size: 28px;
  --calc-button-transition: all 0.3s ease-out;

  box-sizing: border-box;
}

.calc-button {
  &__content {
    cursor: var(--calc-button-cursor);
    display: var(--calc-button-display);
    align-items: var(--calc-button-align-items);
    justify-content: var(--calc-button-justify-content);
    background-color: var(--calc-button-background);
    color: var(--color);
    height: var(--calc-button-height);
    width: var(--calc-button-width);
    padding: var(--calc-button-padding);
    border: var(--calc-button-border);
    border-radius: var(--calc-button-border-radius);
    font-family: var(--calc-button-font-family);
    font-weight: var(--calc-button-font-weight);
    font-size: var(--calc-button-font-size);
    transition: var(--calc-button-transition);

    &:hover,
    &:active {
      background-color: var(--calc-button-background-hover);
    }
  }

  &__number {
    font-size: 20px;
    font-weight: 600;
  }

  &__span {
    transform: translateY(-2px);
  }
}

// color
:host([button-color='green']) {
  --calc-button-background: var(--color-green);
  --calc-button-background-hover: var(--color-green-hover);
}

:host([button-color='red']) {
  --calc-button-background: var(--color-red);
  --calc-button-background-hover: var(--color-red-hover);
}
