:host {
  --calc-container-background: var(--background-light-general);
  --calc-container-color: var(--color-dark-1);
  --calc-container-padding: 24px;
  --calc-container-border: 3px solid var(--color-dark-1);
  --calc-container-border-radius: 8px;
  --calc-container-font-family: sans-serif;
  --calc-container-transition: all 0.3s ease-out;
  --calc-container-width: initial;

  box-sizing: border-box;
}

:host(.calc-container) {
  background-color: var(--calc-container-background);
  color: var(--calc-container-color);
  padding: var(--calc-container-padding);
  border: var(--calc-container-border);
  border-radius: var(--calc-container-border-radius);
  font-family: var(--calc-container-font-family);
  transition: var(--calc-container-transition);
  width: var(--calc-container-width);
  display: block;
}

// size
:host(.calc-container--responsive) {
  --calc-container-width: 100%;
}
